@font-face {
  font-family: 'Noto Sans Hebrew';
  src:url('/assets/fonts/subset-NotoSansHebrew-Regular.woff2') format('woff2'),
 url('/assets/fonts/subset-NotoSansHebrew-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  src:url('/assets/fonts/subset-NotoSansHebrew-Light.woff2') format('woff2'),
 url('/assets/fonts/subset-NotoSansHebrew-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  src:url('/assets/fonts/subset-NotoSansHebrew-SemiBold.woff2') format('woff2'),
 url('/assets/fonts/subset-NotoSansHebrew-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  src:url('/assets/fonts/subset-NotoSansHebrew-Bold.woff2') format('woff2'),
 url('/assets/fonts/subset-NotoSansHebrew-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  src:url('/assets/fonts/subset-NotoSansHebrew-Medium.woff2') format('woff2'),
 url('/assets/fonts/subset-NotoSansHebrew-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
