---
---
.posts {
  max-width: 600px;
  padding-top: 1rem;

  li {
    .title {
      padding-bottom: 0.25rem;
    }

    .excerpt {
    }

    padding-bottom: 2rem;
  }
}

.layout-grid {
  display: grid;
  grid-template-columns: 300px 700px 300px;
  grid-column-gap: 1rem;

  .card {
    margin: 0 auto;

    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    width: 100%;

    &.main {
      max-width: 700px;
    }

    &.side {
      max-width: 300px;
      padding: 0;

      h1 {
        padding: 1rem;
      }
    }

    &.separate {
      margin-top: 2rem;
    }

    .grid-content {
      padding: 2rem;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
