---
---
@import "colors";

.quiz {
  padding: 1rem;

  .question {
    .title {

      color: #333;
      font-weight: 500;
    }

    ul {
      li {
        background-color: #f0f0f0;
        margin: 2px;
        padding: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }

        &.wrong {
          background-color: #EA999E;
          color: black;
        }
      }

      &.done {
        pointer-events: none;
        li {
          opacity: 0.4;

          &[data-answer] {
            opacity: 1;
            background-color: #4ED359;
            color: white;
          }
        }
      }
    }

    .separator {
      height: 2rem;
    }
  }
}
