---
---
@import "colors";

$size-small: 1.5rem;
$size-default: 2.25rem;

.contact-container {
  display: flex;
  flex-wrap: wrap;

  .contact {
    direction: ltr;

    display: flex;
    align-items: center;

    margin-left: 1rem;
    margin-bottom: 1rem;

    background-color: #878787;
    transition: 0.2s opacity ease;
    &:hover {
      opacity: 0.8;
    }
    color: white;
    border-radius: 4px;

    height: 2.25rem;
    font-size: 0.9rem;

    .type {
      display: flex;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
      border-radius: 4px 0 0 4px;

      min-width: 2.25rem;

      align-items: center;

      span {
        display: none;
      }

      .icon {
        width: $size-default;
        height: $size-default;
        background-size: $size-default;
      }
    }

    .value {
      padding: 0 0.6rem;
    }


    &.t-email {
      background-color: $accent-color;

      .type .icon {
        background: url("/assets/svg/email.svg");
      }
    }

    &.t-twitter {
      background-color: #00acee;

      .type .icon {
        background: url("/assets/svg/twitter.svg");
      }
    }

    &.s-small {
      height: $size-small;
      font-size: 0.75rem;
      margin-left: 0.75rem;

      .type {
        min-width: $size-small;
        .icon {
          width: $size-small;
          height: $size-small;
          background-size: $size-small;
        }
      }

      .value {
        padding: 0 0.5rem;
      }
    }
  }
}